<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Greeting Card</title>
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Welcome {{request.session.user_name}}, let's create a holiday greeting!</h2>
    <!-- put Title text field and Change Title button here -->
    <br>
    <form action="/update_text/{{ request.session.card_id }}" method="post">
        {% csrf_token %}
        <textarea name="hg_text" id="ta" cols="30" rows="10">
            {{ request.session.card_text }}
        </textarea>
        <input type="submit" value="Update Greeting Text">
    </form>
    <form action="/update_image/{{ request.session.card_id }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="/media/{{ request.session.card_image }}" alt="holiday image">
        <input type="submit" value="Update Image">
        <input type="file" name="myfile">
    </form>
    <form action="/sendmail" method="POST">
        {% csrf_token %}
        <input type="text" size="40" name="email_addr" placeholder="(type email address here)">
        <input type="submit" value="Send Email Invitation">
    </form>
</body>
</html>